# Dependencies
node_modules
client/node_modules
server/node_modules

# Build outputs
client/.next
server/dist

# Env files
.env*
client/.env*
server/.env*

# OS files
.DS_Store
Thumbs.db

# Prisma
server/prisma/generated-client

# TypeScript
*.tsbuildinfo
*.db
