@import "tailwindcss";

@theme {
  --color-gold: #C9A84C;
  --color-gold-dark: #b39540;
  --color-navy: #0B1F3A;
  --color-navy-dark: #07162b;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background-color: var(--color-navy);
  color: #ffffff;
}
